.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table.bp3-html-table td.athlete-name {
  position: relative;
}

img.headshot {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 52px;
  height: 52px;
  z-index: 0;
}

table.bp3-html-table td.athlete-name {
  padding-left: 55px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 5px;
}

table.bp3-html-table td.athlete-name span {
  font-size: 0.8em;
}

table.bp3-html-table td.athlete-name mark {
  font-weight: bold;
  background: none;
  font-size: 1.4em;
}

table.bp3-html-table tr {
  border-top: 3px white solid;
  border-bottom: 3px white solid;
  margin-top: 3px;
  margin-bottom: 3px;
}

table.bp3-html-table td.score {
  text-align: right;
  font-family: monospace;
  padding: 7px;
}

span.actual {
  font-size: 1.3em;
  line-height: 1.0em;
}

span.projection {
  font-size: 1em;
  line-height: 1.0em;
  color: green;
}
