.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table.bp3-html-table td.name {
  position: relative;
}

img.headshot {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 52px;
  height: 52px;
  z-index: 0;
}

table.bp3-html-table td.contestant-name {
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 65px;
}

table.bp3-html-table td.contestant-name span.contestant {
  line-height: 38px;
}

table.bp3-html-table td.athlete-name {
  padding-left: 55px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 55px;
}

table.bp3-html-table td.name {
  height: 52px;
}

table.bp3-html-table td.name span.first-name {
  display: block;
  margin: 0;
  font-size: 12px;
}

table.bp3-html-table td.name mark {
  display: block;
  margin: 0;
  font-weight: bold;
  background: none;
  font-size: 20px;
  line-height: 20px;
}

span.actual {
  text-align: right;
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  font-family: monospace;
  font-size: 18px;
}

span.actual.done {
  top: 16px;
  color: rgba(75, 75, 75, 1);
}

span.projection {
  text-align: right;
  position: absolute;
  top: 30px;
  right: 5px;
  display: inline-block;
  font-size: 14px;
  color: green;
}

thead {
  border-bottom: none;
}

@media only screen and (max-width: 1400px) {
  table.bp3-html-table td.name mark {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1150px) {
  table.bp3-html-table, table.bp3-html-table tbody, table.bp3-html-table tr {
    display: block;
    width: 100%;
  }
  table.bp3-html-table td.contestant-name span.contestant {
    font-size: 12px;
    display: block;
  }
  table.bp3-html-table td.name {
    display: inline-block;
    background: none !important;
    padding: 0;
    width: 16%;
    height: 75px;
    overflow: hidden;
    white-space: nowrap;
  }
  table.bp3-html-table td.athlete-name {
    padding-left: 55px;
  }
  table.bp3-html-table td.name span.first-name {
    display: none;
  }
  table.bp3-html-table td.name mark {
    font-size: 12px;
  }
  table.bp3-html-table td.name span.actual {
    font-family: inherit;
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
    position: static;
    text-align: center;
  }
  table.bp3-html-table td.name span.projection {
    font-family: inherit;
    font-size: 12px;
    display: inline-block;
    position: static;
    text-align: center;
  }
  table.bp3-html-table td.name span.actual.done {
    margin: 0;
  }
  .table.bp3-html-table, table.bp3-html-table tr.hide-when-small {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  table.bp3-html-table td.name {
    text-align: center;
    height: 95px;
  }
  table.bp3-html-table td.athlete-name {
    padding-left: 0;
  }
  table.bp3-html-table td.name img.headshot {
    position: static;
    width: 55px;
    height: 55px;
  }
  table.bp3-html-table td.name mark {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  table.bp3-html-table td.contestant-name span.contestant {
    font-size: 10px;
  }
  table.bp3-html-table td.name img.headshot {
    width: 40px;
    height: 40px;
  }
  table.bp3-html-table td.name mark {
    font-size: 10px;
  }
  table.bp3-html-table td.name span.actual {
    font-family: inherit;
    font-size: 12px;
    display: block;
    position: static;
    text-align: center;
    margin: 0;
  }
  table.bp3-html-table td.name span.projection {
    font-family: inherit;
    font-size: 12px;
    display: block;
    position: static;
    text-align: center;
    margin: 0;
  }
}
